
body {
  margin: 0;
   /* background-color: #001f3f; */
  background-image: linear-gradient(to left, rgb(0, 31, 63), rgb(11, 4, 33));
  /* background-size: cover; */
}

/* h2 {
  text-align: center;
  width: max-content;
  margin-bottom: 50em;
} */

h1 {
  text-align: center;
  width: max-content;
  /* margin-bottom: 50em; */
  color: azure;
}

h2 {
  text-align: center;
  width: max-content;
  /* margin-bottom: 50em; */
  color: azure;
}

p {
  padding-top: 10%;
  padding-bottom: 5%;
  font-size: large;
  color: azure;
}

.page {
  margin-top: 80px;
  padding-left: 5%;
  padding-right: 5%;
}

.navItem {
  color: azure;
}

.typeWriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(110, 192, 138); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  color: azure;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(110, 192, 138); }
}
/* .Card {
  size:500px
} */

.icons {
  font-size: 10vw;
}
.icons-small {
  font-size: 6vw;
}
.table-text {
  font-size: x-large;
  text-align: center;
  color: azure;
  padding-top: 2.5em;
}

.blur {
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2.5%;
  background-color: rgb(11, 45, 80);
}

.timeline {
  margin-top: 5%;
}

.footer {
  height: 5vw;
  margin-top: 10vw;
  text-align: center;
}
  